/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.  
 *
 *= require_tree .
 *= require_self
 */

/* body {
    background-image: url("/assets/Site/Background.jpg");
    font-family: sans-serif;
    margin: 0;
    padding: 0;
} */




div#container {
    position: relative;
    min-height: 250px;
    
    
    /* background-image: url("/assets/Site/bg3.gif"); */
    max-width: 1000px;
    
    margin: auto;
}

div#first-column {
	margin: 3px 3px 3px 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    /* background-image: url("/assets/Site/bg3.gif"); */
    width: 279px;
    margin: 3px;
}
div#first-column {
    left: 710px;
}
div#content {
	
	padding: 3px;
    margin: 3px 3px 3px 5px;
    /*background: rgb(240, 240, 240);*/
   
    border: 1px solid gray;
    min-height: 850px;
    width: 700px;
}
div#footer,
div#menu {
    text-align:center;
    font-size:25px;
    max-width: 100%;
    min-width: 100%;
    margin: auto;
}

div#logo {
    border-bottom: none;
    width: 100%;
    height: 170px;
    float: center;
    text-align: center;
    font-size:25px;
    max-width: 100%;
    min-width: 100%;
    margin: auto;
}

div#header h1{
    padding-top:7%;
    text-align:center;
}

div#menu {
    border-bottom: none;
    width: 1024px;
    height: 28px;
}
div#header {
    border-bottom: none;
    width: 100%;
    height: 170px;
    float: center;
    text-align: center;
    font-size:25px;
    max-width: 100%;
    min-width: 100%;
    margin: auto;
}
div#footer {
    border-bottom: none;
    width: 100%;
    height: 170px;
}

 #navbar ul          
 {
     margin: 0;         
     padding: 5px;         
     list-style-type: none;        
     text-align: left;  
     font-size: 17px;      
     background-color: #333;         
 }  
 
 #navbar ul li           
 {
     display: inline;
       
 }  
 
 #navbar ul li a          
 {
     text-decoration: none; 
     text-align: center;
     padding: .2em 1em;         
     color: #fff;         
     background-color: #333;         
     }  
     
#navbar ul li a:hover          
{
    color: navy;
    background-color: azure;         
   	border:0px orange solid;
 	border-radius:9px;
 	
}


/* Detailed Display Edit\Back Links */
#DisplayLinks a:hover {
	background-color:transparent;
}
